#coefficient{
    width:50px;
    color:red;
    text-align: center;
}

#coefficientPercentage{
    font-weight: bold;
}

#commentStudent, #commentTeacher{
   margin: 10px;
   color: black;
   font-style: italic;
   height:150px;
   resize: none;
}

.labelComments{
margin-left:20px;
}